<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us">

<head>
    <title>
        {% if title %}{{ title }} -{% endif %} Electronic medical record Support for Public Health (ESPnet)
    </title>

    <link href="{{ site_css_folder }}base.css" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="{{ site_css_folder }}jquery-ui.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ site_css_folder }}ui.theme.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ site_javascript_folder }}/jdMenu-1.4.1/jquery.jdMenu.css" type="text/css"
          media="all"/>
    <script src="{{ site_javascript_folder }}jquery-1.4.2.js" type="text/javascript"></script>
    <script src="{{ site_javascript_folder }}jquery-ui-1.8.4.js" type="text/javascript"></script>
    <script src="{{ site_javascript_folder }}/jdMenu-1.4.1/jquery.bgiframe.js" type="text/javascript"></script>
    <script src="{{ site_javascript_folder }}/jdMenu-1.4.1/jquery.dimensions.js" type="text/javascript"></script>
    <script src="{{ site_javascript_folder }}/jdMenu-1.4.1/jquery.jdMenu.js" type="text/javascript"></script>
    <script src="{{ site_javascript_folder }}/jdMenu-1.4.1/jquery.positionBy.js" type="text/javascript"></script>
    <script src="{{ site_javascript_folder }}flexigrid/flexigrid.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('ul.jd_menu').jdMenu();
        });
    </script>

    {% block extrastyle %}{% endblock %}
    {% block extrascript %}{% endblock %}

   <style>
      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
      }

      th, td {
          padding: 5px;
      }
     th {
          text-align: left;
     }
    </style>

</head>

<body>

<div id="header">
    <h1>
        <span id="main_title">ESP &mdash; Electronic Medical Record Support for Public Health </span>
    </h1>
</div>

{% block content %}
<p>Date:  {{ today_string }}
<br>Site:  {{ site_name }}
<br>
<br>
{{ comment }}

<div id="new_case_summary" >
    <h3>
        New Cases Today:
    </h3>
    {% if new_case_summary.count %}
    <table id="new_case_summary_table">
        <tr>
            <th>Condition
            <th>Count
        {% for item in new_case_summary %}
        <tr>
            <td>{{ item.condition }}
            <td>{{ item.count }}
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>
        <em>No new cases today</em>
    </p>
    {% endif %}
</div>

<p style="clear: left;">&nbsp;</p>

<div id="new_case_details" style="text-align: left;">
    <h3>
        New Case Details:
    {% if new_case_summary.count %}
    </h3>
    <table id="new_case_detail_table">
        <tr>
            <th>Case ID
            <th>Condition
            <th>Date
            <th>Department
        {% for case in new_cases %}
        <tr>
            <td>{{ case.id }}
            <td>{{ case.condition }}
                        <td>{{ case.date }}
            <td>{{ case.provider.dept }}
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>
        <em>No new cases today</em>
    </p>
    {% endif %}
</div>

<p style="clear: left;">&nbsp;</p>

<div id="all_case_summary" style="text-align: left;">
    <h3>
        All Cases:
    </h3>
    {% if all_case_summary.count %}
    <table id="all_case_summary_table">
        <tr>
            <th>Condition
            <th>Count
        {% for item in all_case_summary %}
        <tr>
            <td>{{ item.condition }}
            <td>{{ item.count }}
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>
        <em>No cases</em>
    </p>
    {% endif %}
</div>


<p style="clear: left;">&nbsp;</p>

<div id="report_summary" style="text-align: left;">

    <h3>
        Case Reports:
    </h3>

    <p>
        <em>Case reports transmitted in past day</em>
    </p>

    {% if reports %}
        <table id="case_reports">
            <tr>
                <th>Case #
                <th>Condition
                <th>Case Date
                <th>Pat ID
                <th>Report Timestamp
                <th>Sent?
                <th>Filename
            {% for rep in reports %}
                {% for c in rep.cases.all %}
                <tr>
                    <td>{{ c.pk }}
                    <td>{{ c.condition }}
                    <td>{{ c.date }}
                    <td>{{ c.patient.pk }}
                    <td>{{ rep.timestamp }}
                    <td>{{ rep.sent }}
                    <td>{{ rep.filename }}
                {% endfor %}
            {% endfor %}
        </table>
    {% else %}
        <p>
            <em>No cases reported in past day</em>
        </p>
    {% endif %}
</div>

<p style="clear: left;">&nbsp;</p>

<div id="cases_365_days" >
    <h3>
        Cases Previous 365 Days:
    {% if cases_365_days.count %}
    </h3>
    <table id="cases_365_days_table">
        <tr>
            <th>Condition
            <th>Count
        {% for item in cases_365_days %}
        <tr>
            <td>{{ item.condition }}
            <td>{{ item.count }}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

<p style="clear: left;">&nbsp;</p>

<div id="cases_calendar_year" >
    <h3>
        Cases This Calendar Year:
    {% if cases_calendar_year.count %}
    </h3>
    <table id="cases_calendar_year_table">
        <tr>
            <th>Condition
            <th>Count
        {% for item in cases_calendar_year %}
        <tr>
            <td>{{ item.condition }}
            <td>{{ item.count }}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

<p>&nbsp;</p>

<hr>
<h3>
    Data Provenance
</h3>
<hr>


<div id="provenance_summary" >



    <p>
        <em>Data load summary for past day</em>
    </p>
    <table id="provenance_summary_table">
        <tr>
            <th>Status
            <th>Number of Files
        {% for i in data_status %}
        <tr>
            <td>{{ i.status }}
            <td>{{ i.count }}
        {% endfor %}
    </table>

</div>

<div id="provenance_detail" >

    <p>
        <em>Data sources loaded in past day</em>
    </p>
    <table id="provenance_detail_table">
        <tr>
            <th>Source
            <th>Timestamp
            <th>Status
            <th>Valid Record Count
            <th>Error Count
        </tr>
        {% for prov in provenances %}
        <tr>
            <td>{{ prov.source }}
            <td>{{ prov.timestamp }}
            <td>{{ prov.status }}
            <td>{{ prov.valid_rec_count }}
            <td>{{ prov.error_count }}
        </tr>
        {% endfor %}
    </table>

</div>

<p>&nbsp;</p>

<div id="unmapped_lab_summary">
    <hr>
    <h3>
        Unmapped Lab Tests
    </h3>
    <hr>
    <table>
        <tr>
            <th>Native Name</th>
            <th>Native Code</th>
            <th>Lab Record Count</th>
        </tr>
        {% for item in unmapped_labs %}
        <tr>
            <td>{{ item.native_name }}</td>
            <td>{{ item.native_code }}</td>
            <td>{{ item.count }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}


</body>

</html>