{% extends 'base.html' %}


{% block extrastyle %}
    <style type="text/css">
    table {
        border-width: thin;
        border-spacing: 0;
        border-style: solid;
        border-color: gray;
        border-collapse: separate;
        background-color: white;
    }
    table th {
        border-width: thin;
        padding: 0.5em;
        border-style: solid;
        border-color: gray;
        background-color: white;
        -moz-border-radius: ;
    }
    table td {
        border-width: thin;
        padding: 0.5em;
        border-style: solid;
        border-color: gray;
        background-color: white;
        -moz-border-radius: ;
    }
    </style>
{% endblock %}

{% block content %}
<table>
	{{form.as_table}}
	<tr><td colspan="2"><input type="submit" value="Search lab native names by condition" onclick="window.location.href='{{url}}'+$('#id_condition').val();"></td></tr>
</table>


{% if unmapped %}
	<form method="POST" action="{% url 'ignore_code_set' %}" >
		<p>
		<table>
			<tr>
			<th />
			<th>Native Name</th>
			<th>Native Code</th>
			<th>Procedure Name</th>
			<th>Lab Record Count</th>
			{% if user.is_staff %}
			<th></th>
			{% endif %}
			</tr>
			{% for item in unmapped %}
			<tr>
			<td><input type="checkbox" name="codes" value="{{ item.native_code }}" id="id_codes_{{ forloop.counter }}">
			<td>{{ item.native_name }}</td>
			<td>{{ item.native_code }}</td>
			<td>{{ item.procedure_name }}</td>
			<td>{{ item.count }}</td>
			{% if user.is_staff %}
			<td><a href="{% url 'map_native_code' item.native_code %}?return={{condition}}">map</a></td>
			{% endif %}
			</tr>
			{% endfor %}
		</table>
		</p>
		<p>
			<input type="submit" name="submit" value="Ignore Selected Codes" />
		</p>
	</form>
{% endif %}

{% endblock %}
