{% extends "vaers.html" %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ site_css_folder }}vaers.css"/>
{% endblock %}
{% block extrascript %}

<script type="text/javascript" src="{{ site_javascript_folder }}vaers.js">

</script>

{% endblock%}

{% block content %}
<table border="0">
    <tr>
        <td style="border:0">
            <table id="tbl_case_details"
    <tr>
        <th align=left>Patient name <bR> [MRN]</th>
        <td>{{ case.patient.full_name }} <BR> [{{ case.patient.mrn }}]</td>
    </tr>
    <tr>
        <th align=left>Date of birth [age]</th>
        <td>{{ case.patient.date_of_birth|date:"d-M-Y" }}
            {% if case.patient.age.years > 2 %}
            [{{ case.patient.age.years }} years]
            {% else %}
            [{{ case.patient.age.months }} months]
            {% endif %}

        </td>
    </tr>
</table>
</td>
<td style="border:0">
    <table id="tbl_case_details">

        <tr>
            <th align=left>Reviewing Clinician</th>
            <td>{{ questionnaire.provider.full_name }}</td>
        </tr>
        <tr>
            <th align=left>Primary Care Provider</th>
            <td> {{ case.patient.pcp }}</td>
        </tr>

    </table>

</td>
</tr>
</table>
<BR>

<b>Your patient received the following vaccination on {{ case.date|date:"M d, Y"}}
    <br></b>
{% for vacc in case.immunizations.all %}
{{ vacc.name }}  <BR>
{% endfor %}
<br>
<b>We noted the following potentially concerning events after vaccination: </b>
<BR><BR>
<table border="0">
    <tr>
        <td style="border:0">
            <table border="0" id="tbl_case_details">
                <tr>
                    <th align=left>Event Date</th>
                    <th align=left>Days Since Vaccine(s) given</th>
                    <th align=left>Encounter Type</th>
                    <th align=left>Labs</th>
                    <th align=left>Diagnosis</th>
                    <th align=left>Prescription</th>
                    <th align=left>Allergies</th>
                </tr>
                <!-- add comments here
                -->

                {% for event in case.highest_event_category %}
                <tr>

                    {% ifequal content_type_enc event.content_type %}

                    <td> {{ event.content_object.date|date:"d-M-Y"}}</td>
                    <td> {{ event.gap }}</td>
                    <td> {% ifequal event.content_object.encounter_type 'VISIT' %}
                        Ambulatory
                        {% endifequal %}
                        {% ifequal event.content_object.encounter_type 'HOSPITALIZATION' %}
                        Hospitalized
                        {% endifequal %}
                        {% ifequal event.content_object.encounter_type 'ER' %}
                        ED
                        {% endifequal %}
                    <td></td>
                    <td> {{ event.matching_rule_explain }}</td>
                    </td>
                    <td></td>
                    <td></td>
                    {% endifequal %}

                    {% ifequal content_type_lx event.content_type %}

                    <td> {{event.content_object.date|date:"d-M-Y"}}</td>
                    <td> {{ event.gap }}</td>
                    <td></td>
                    <td> {{ event.content_object.native_name }} {{ event.content_object.result_float|default:"N/A"}} {{event.content_object.ref_unit|default:""}}
                        {% if event.last_known_value %}
                        <BR>(last value prior to vaccination {{ event.last_known_value }} on {{event.last_known_date|date:"d-M-Y" }})
                        {% endif %}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>

                    {% endifequal %}

                    {% ifequal content_type_rx event.content_type %}
                    <td>{{ event.content_object.date|date:"d-M-Y" }}</td>
                    <td> {{ event.gap }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> {{ event.content_object.matching_rule_explain }}</td>
                    <td></td>

                    {% endifequal %}

                    {% ifequal content_type_all event.content_type %}
                    <td> {{ event.content_object.date_noted|date:"d-M-Y" }}</td>
                    <td> {{ event.gap }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> {{ event.content_object.name }}</td>

                    {% endifequal %}

                </tr>

                {% endfor %}

            </table>
        </td>
    </tr>
</table>
<BR>
{% if  case.prior_immunizations.all %}
<b>Note: the patient has also recently received the following vaccine(s):</b><BR>
{% for vacc in case.prior_immunizations.all %}
{{ vacc.date|date:"M d, Y"}} {{ vacc.name }} <BR>
{% endfor %}

{% endif %}
<form id="frm_case_confirmation" method="POST" action="{% url 'vaers:present_case' ptype formid  %}">
    <B>
        <div class="css_state">
            <header>
                <h2>
                    <label for="id_state_0">Possible Adverse Event?</label>
                </h2>
            </header>
            <div class="{% if form.state.errors %}warning{% endif %}" style="margin-left: 0px;">
                {% if form.state.errors %}
                <small>Please select one</small>
                {% endif %}
                {{ form.state }}
            </div>
            <div class="q" style="display: none;">
                <label for="{{ form.patient_recovered.id_for_label }}">{{ form.patient_recovered.label}}</label>
                {{ form.patient_recovered }}
            </div>
            <div class="q" style="display: none;">
                <h3>Result or outcome of adverse event(s): (Check all that apply)</h3>
                {{ form.result_visit }}
                <label for="{{ form.result_visit.id_for_label }}">{{ form.result_visit.label}}</label>
                <br/>
                {{ form.result_emergency }}
                <label for="{{ form.result_emergency.id_for_label }}">{{ form.result_emergency.label}}</label>
                <br/>
                {{ form.result_hosp }}
                <label for="{{ form.result_hosp.id_for_label }}">{{ form.result_hosp.label}}</label>
                <br/>
                <div style="padding-left:0px;">
                    <label for="{{ form.result_hosp_days.id_for_label }}">{{ form.result_hosp_days.label}}</label>
                    {{ form.result_hosp_days }}
                    <br/>
                    <label for="{{ form.result_hosp_name.id_for_label }}">{{ form.result_hosp_name.label}}</label>
                    {{ form.result_hosp_name }}
                    <br/>
                    <label for="{{ form.result_hosp_city.id_for_label }}">{{ form.result_hosp_city.label}}</label>
                    {{ form.result_hosp_city }}
                    <label for="{{ form.result_hosp_state.id_for_label }}">{{ form.result_hosp_state.label}}</label>
                    {{ form.result_hosp_state }}
                </div>
                <br/>
                {{ form.result_prolong }}
                <label for="{{ form.result_prolong.id_for_label }}">{{ form.result_prolong.label}}</label>
                <br/>
                {{ form.result_threat }}
                <label for="{{ form.result_threat.id_for_label }}">{{ form.result_threat.label}}</label>
                <br/>
                {{ form.result_disability }}
                <label for="{{ form.result_disability.id_for_label }}">{{ form.result_disability.label}}</label>
                <br/>
                {{ form.result_death }}
                <label for="{{ form.result_death.id_for_label }}">{{ form.result_death.label}}</label>
                --
                <label for="{{ form.result_death_date.id_for_label }}">{{ form.result_death_date.label}}</label>
                {{ form.result_death_date }}
                <br/>
                {{ form.result_congenital }}
                <label for="{{ form.result_congenital.id_for_label }}">{{ form.result_congenital.label}}</label>
                <br/>
                {{ form.result_unknown }}
                <label for="{{ form.result_unknown.id_for_label }}">{{ form.result_unknown.label}}</label>
                <br/>
                {{ form.result_none }}
                <label for="{{ form.result_none.id_for_label }}">{{ form.result_none.label}}</label>
            </div>
            <div class="q" style="display:none;">
                <label for="{{ form.event_comment.id_for_label}}">{{ form.event_comment.label}}</label>
                <br/>
                {{ form.event_comment }}
            </div>
        </div>
        <div class="css_ishelpful">
            <header>
                <h2>Please help us assess this automated adverse event reporting tool.</h2>
            </header>
            <div>
                <label for="{{ form.message_ishelpful.id_for_label }}">{{ form.message_ishelpful.label }}</label>
                {{ form.message_ishelpful }}
            </div>
            <div>
                <label for="{{ form.satisfaction_num_msg.id_for_label }}">{{ form.satisfaction_num_msg.label }}</label>
                {{ form.satisfaction_num_msg }}
            </div>
            <div>
                <label for="{{ form.assess_reporting.id_for_label }}">{{ form.assess_reporting.label }}</label>
                <br/>
                {{ form.assess_reporting }}
            </div>
        </div>

    </B>

    <input type="submit" value="submit"/>
    {% csrf_token %}
</form>
{% endblock %}
