<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us">
<head>
    <title>
         Electronic medical record Support for Public Health (ESPnet)
    </title>

    <link href="http://lvpesp06.atriushealth.net/esp3test/media//css/base.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="http://lvpesp06.atriushealth.net/esp3test/media//css/jquery-ui.css" type="text/css" media="all">
    <link rel="stylesheet" href="http://lvpesp06.atriushealth.net/esp3test/media//css/ui.theme.css" type="text/css" media="all">
    <link rel="stylesheet" href="http://lvpesp06.atriushealth.net/esp3test/media//js//jdMenu-1.4.1/jquery.jdMenu.css" type="text/css" media="all">
    <style type="text/css">
        table {border:2px solid #999;}
        td {width:100px;
            height:62px;
            border:1px solid #666;
            text-align:center;
           }
        #table1 {[blue]
        margin-bottom:50px;[/blue]
        }
    </style>

</head>

<body>
    <h1>CoC patient list</h1>
    <li>{% for key, content in breadcrumb_dict.items %}{{ key|title }}: {{content}}{% endfor %}</li>
    <p>
        <a href="{{ full_path }}?export_csv=coc_list">Export patient list to CSV file</a>
    <p>
    {% for key, patrec in patlisting_dict.items %}
    <table>
        <tr>
            <th>Patient first name</th>
            <th>last name</th>
            <th>Patient phone #</th>
	    <th>Patient EHR ID</th>
	    <th>PCP first name</th>
	    <th>last name</th> 
        </tr>
        <tr>
            <td>{{ patrec.first_name|title }}</td>
            <td>{{ patrec.last_name|title }}</td>
            <td>{{ patrec.phone }}</td>
	    <td>{{ patrec.natural_key }}</td>
	    <td>{{ patrec.pcp_first_name|title }}</td>
	    <td>{{ patrec.pcp_last_name|title }}</td>
        </tr>
            {% for key, labrec in patrec.lab.items %}
            <tr>
                <th>Lab date</th>
                <th>Lab name</th>
                <th>Lab result</th>
                <th>Ordered by first name</th>
                <th>last name</th>
            </tr>
            <tr>
                <td>{{ labrec.lab_date }}</td>
                <td>{{ labrec.lab_name }}</td>
                <td>{{ labrec.lab_result }}</td>
                <td>{{ labrec.provider_first_name|title }}</td>
                <td>{{ labrec.provider_last_name|title }}</td>
            </tr>
           {% endfor %} 
           {% for key, rxrec in patrec.rx.items %}
            <tr>
                <th>Rx date</th>
                <th>Rx name</th>
                <th>Ordered by first name</th>
                <th>Last name</th>
            </tr>
            <tr>
                <td>{{ rxrec.rx_date }}</td>
                <td>{{ rxrec.rx_name }}</td>
                <td>{{ rxrec.provider_first_name|title }}</td>
                <td>{{ rxrec.provider_last_name|title }}</td>
            </tr>
            {% endfor %}
    </table>
    {% endfor %}
</body>
</html>
