{% extends "hiv_risk.html" %}
{% load django_tables2 %}


{% block extrastyle %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site_javascript_folder }}/flexigrid/css/flexigrid/flexigrid.css" />
    <style type="text/css">
    table {
        border-width: thin;
        border-spacing: 0;
        border-style: solid;
        border-color: gray;
        border-collapse: separate;
        background-color: white;
    }
    table th {
        border-width: thin;
        padding: 0.5em;
        border-style: solid;
        border-color: gray;
        background-color: white;
        -moz-border-radius: ;
    }
    table td {
        border-width: thin;
        padding: 0.5em;
        border-style: solid;
        border-color: gray;
        background-color: white;
        -moz-border-radius: ;
    }
    </style>
{% endblock %}


{% block content %}

<h2>
    Patient Information
</h2>

<table id="patient_info">
    <tr>
        <th>ESP Patient Id</th>
        <th>Patient MRN</th>
        <th>Patient Last Name</th>
        <th>Patient First Name</th>
	<th>Patient Phone</th>
        <th>Gender</th>
        <th>Current Age</th>
        <th>Ethnicity</th>
        <th>Race</th>
        <th>Home Language</th>
        <th>PCP</th>
    </tr>
    <tr>
        <td>{{ hrp_history.patient_id }}</td>
        <td>{{ mrn }}</td>
        <td>{{ last_name }}</td>
        <td>{{ first_name }}</td>
	<td>{{ telephone }}</td>
        <td>{{ gender }}</td>
        <td>{{ current_age }}</td>
        <td>{{ ethnicity }}</td>
        <td>{{ race }}</td>
        <td>{{ home_language }}</td>
	<td>{{ pcp_name }}</td>
    </tr>
</table>


<h2>
   Disposition History 
</h2>

<table id="disposition_history">
    <tr>
      <th>Disposition</th>
      <th>Date</th>
      <th>Clinician</th>
      <th>PrEP RX Date</th>
      <th>Recorded By User</th>
      <th>Comment</th>
    </tr>
    {% for item in dispo_hist %}
      <tr>
	<td>{{ item.disposition.disposition_name }}</td> 
        <td>{{ item.disposition_date }}</td>
	<td>{{ item.managing_provider.last_name }}, {{ item.managing_provider.first_name }}</td>
	<td>{{ item.prep_date_entered }}</td>
	<td>{{ item.created_by_user }}</td>
	<td>{{ item.comment }}</td>
      </tr>
    {% endfor %}
  </table>


&nbsp;
&nbsp;
<hr>


<h2>PrEP Engagement Disposition</h2>
    <form method="POST" action="{% url 'hiv_risk:hrp_history_detail' patient_id %}?return={{condition}}">

    {{ form.as_p }}
    <p>
        <input type="submit" value="SUBMIT">
    </p>
    {% csrf_token %}
</form>

<button type="button">
    <a href="{% url 'hiv_risk:show_file' %}" target="_blank">View Disposition Definitions Document</a>
</button>


<hr>

{% endblock %}

