{% extends "hiv_risk.html" %}
{% load django_tables2 %}


{% block extrastyle %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site_javascript_folder }}/flexigrid/css/flexigrid/flexigrid.css" />
    <style type="text/css">
    table {
        border-width: thin;
        border-spacing: 0;
        border-style: solid;
        border-color: gray;
        border-collapse: separate;
        background-color: white;
    }
    table th {
        border-width: thin;
        padding: 0.5em;
        border-style: solid;
        border-color: gray;
        background-color: white;
        -moz-border-radius: ;
    }
    table td {
        border-width: thin;
        padding: 0.5em;
        border-style: solid;
        border-color: gray;
        background-color: white;
        -moz-border-radius: ;
    }
    </style>
{% endblock %}


{% block content %}

<h2>HIV Risk Score: {{ hrp.hiv_risk_score }} </h2>

<h2>
    Patient Information
</h2>

<table id="patient_info">
    <tr>
        <th>ESP Patient Id</th>
        <th>Patient MRN</th>
        <th>Patient Last Name</th>
        <th>Patient First Name</th>
	<th>Patient Phone</th>
        <th>Gender</th>
        <th>Current Age</th>
        <th>Ethnicity</th>
        <th>Race</th>
        <th>Home Language</th>
        <th>PCP</th>
	<th>PCP Dept</th>
    </tr>
    <tr>
        <td>{{ hrp.patient_id }}</td>
        <td>{{ mrn }}</td>
        <td>{{ last_name }}</td>
        <td>{{ first_name }}</td>
	<td>{{ telephone }}</td>
        <td>{{ gender }}</td>
        <td>{{ current_age }}</td>
        <td>{{ ethnicity }}</td>
        <td>{{ race }}</td>
        <td>{{ home_language }}</td>
	<td>{{ pcp_name }}</td>
	<td>{{ pcp_dept }}</td>
    </tr>
</table>

<h2>
  PrEP Details 
</h2>

<table id="prep_info">
    <tr>
        <th>Previous PrEP Order</th>
        <th>Last PrEP Order Date</th>
    </tr>
    <tr>
        <td>{{ hrp.previous_prep_order }}</td>
        <td>{{ hrp.last_prep_order_date }}</td>
    </tr>
</table>


<h2>
   Highest Risk Factors 
</h2>

<table id="highest_risk_var">
    <tr>
        <th>Highest Risk Factor</th>
        <th>Second Highest Risk Factor</th>
    </tr>
    <tr>
        <td>{{ hrp.highest_risk_variable }}</td>
        <td>{{ hrp.second_highest_risk_variable }}</td>
    </tr>
</table>

<h2>
   Selected Risk Factor Information
</h2>

<table id="risk_variables">
    <tr>    
        <th>Suboxone Last 2 Yrs</th>
        <th>STD Case Last 2 Yrs</th>
        <th>Suboxone & STD Last 2 Yrs
        <th>Illicit Drug Use Last 2 Yrs</th>
        <th>Sexually Active Status</th>
        <th># Positive Gonorrhea Tests Last 2 Yrs</th>
        <th># HIV Test Dates Last 2 Yrs</th>
        <th>Last HIV Test Date</th>
        <th>Bicillin 2.4 MU injection Last 2 Yrs</th>
        <th>Syphilis Dx Last 2 Yrs</th> 
        <th>Syphilis Dx Name Last 2 Yrs</th>
        <th>Sex Partner Gender</th>

    </tr>
    <tr>
        <td>{{ hrp.suboxone_last_2yr }}</td>
        <td>{{ hrp.std_case_last_2yr }}</td>
        <td>{{ hrp.suboxone_and_std_last_2yr }}</td>
        <td>{{ hrp.ill_drug_use_last_2yr }}</td>
        <td>{{ hrp.sexually_active_status }}</td>
        <td>{{ hrp.num_pos_gon_tests_last_2yr }}</td>
        <td>{{ hrp.num_hiv_tst_dates_last_2yr }}</td>
        <td>{{ hrp.last_hiv_test_date }}</td>
        <td>{{ hrp.bicillin_24_inj_last_2yr }}</td>
        <td>{{ hrp.syph_dx_last_2yr }}</td>
        <td>{{ hrp.syph_dx_name_last_2yr }}</td>
        <td>{{ hrp.sex_partner_gender }}</td>
    </tr>
</table>

<h2>
   Mpox Vaccine Information
</h2>

<table id="mpox_info">
    <tr>
        <th>Last Mpox Vaccine Date</th>
	<th>Number of Mpox Vaccines Administered</th>
    </tr>
    <tr>
        <td>{{ hrp.last_mpox_vax_date }}</td>
	<td>{{ hrp.num_mpox_vax }}</td>
    </tr>
</table>

<h2>
    Doxycycline Rx Information
</h2>

<table id="doxy_info">
    <tr>
        <th>Last Doxycycline Rx Date</th>
    </tr>
    <tr>
        <td>{{ hrp.last_doxy_rx_date }}</td>
    </tr>
</table>





<h2>
   Disposition History 
</h2>

<table id="disposition_history">
    <tr>
      <th>Disposition</th>
      <th>Date</th>
      <th>Clinician</th>
      <th>PrEP RX Date</th>
      <th>Recorded By User</th>
      <th>Comment</th>
    </tr>
    {% for item in dispo_hist %}
      <tr>
	<td>{{ item.disposition.disposition_name }}</td> 
        <td>{{ item.disposition_date }}</td>
	<td>{{ item.managing_provider.last_name }}, {{ item.managing_provider.first_name }}</td>
	<td>{{ item.prep_date_entered }}</td>
	<td>{{ item.created_by_user }}</td>
	<td>{{ item.comment }}</td>
      </tr>
    {% endfor %}
  </table>


&nbsp;
&nbsp;
<hr>


<h2>PrEP Engagement Disposition</h2>
    <form method="POST" action="{% url 'hiv_risk:hrp_detail' patient_id %}?return={{condition}}">

    {{ form.as_p }}
    <p>
        <input type="submit" value="SUBMIT">
    </p>
    {% csrf_token %}
</form>

<button type="button">
    <a href="{% url 'hiv_risk:show_file' %}" target="_blank">View Disposition Definitions Document</a>
</button>


<hr>

{% endblock %}

