{% extends "hiv_risk.html" %}
{% load django_tables2 %}



{% block extrastyle %}

    <style type="text/css" media="all">
        form ol {
            list-style: none;
        }

        #search_div {
            float: left;
        }

        #summary_div {
            float: right;
        }

        #form_table {
            border: 0;
        }

        #form_table th {
            text-align: right;
            border: 0;
        }

        #form_table td {
            text-align: left;
            border: 0;
        }
    </style>

{% endblock %}


{% block content %}
    <div id="search_div">
        <h2>Filter</h2>
        <form id="search_form" method="GET" action="{% url 'hiv_risk:report' %}">
            <table id="form_table">
                {{ search_form.as_table }}
            </table>
            <p>
                <input type="submit" value="Filter Results"/>
		<button type="button">
                    <a href="{{ clear_search_path }}">Reset Filter</a>
		</button>

            <p>
	        <button type="button">
                    <a href="{{ full_path }}&export_csv=high_risk_list">Export Patient Line List to CSV file</a>
		</button>
            <p>
        </form>
    </div>

    <div style="clear:both;"/>

    <h2>Risk for Acquisition of HIV - Patient Line List</h2>

    {% render_table table 'table.html' %}

    <h4>Most Recent Line List Date: {{ most_recent_linelist_date }}</h4>


{% endblock %}

